In [22]:
import csv
import pandas as pd

f = open('age.csv', encoding = 'cp949')
data = pd.read_csv(f)

In [23]:
data

,행정구역,2019년02월_계_총인구수,2019년02월_계_연령구간인구수,2019년02월_계_0세,2019년02월_계_1세,2019년02월_계_2세,2019년02월_계_3세,2019년02월_계_4세,2019년02월_계_5세,2019년02월_계_6세,...,2019년02월_계_91세,2019년02월_계_92세,2019년02월_계_93세,2019년02월_계_94세,2019년02월_계_95세,2019년02월_계_96세,2019년02월_계_97세,2019년02월_계_98세,2019년02월_계_99세,2019년02월_계_100세 이상
0,서울특별시 (1100000000),"9,770,638","9,770,638","53,738","59,599","65,815","70,726","70,037","69,000","76,377",...,"7,199","5,374","3,972","2,927","2,813","2,260","1,565","1,180",880,"5,932"
1,서울특별시 종로구 (1111000000),"152,880","152,880",593,683,775,874,852,863,"1,023",...,163,132,112,79,69,81,53,40,39,236
2,서울특별시 종로구 청운효자동(1111051500),"13,010","13,010",66,79,72,98,98,94,108,...,9,8,14,6,7,9,4,2,2,16
3,서울특별시 종로구 사직동(1111053000),"9,584","9,584",43,50,64,67,67,70,94,...,14,5,12,6,5,8,2,5,4,17
4,서울특별시 종로구 삼청동(1111054000),"2,820","2,820",9,15,3,21,11,13,9,...,6,6,1,3,0,3,1,0,2,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3836,제주특별자치도 서귀포시 서홍동(5013058000),"10,500","10,500",78,88,115,116,106,141,154,...,4,1,3,1,0,5,4,0,0,2
3837,제주특별자치도 서귀포시 대륜동(5013059000),"14,266","14,266",132,149,180,173,172,164,134,...,17,6,4,1,11,7,2,3,3,6
3838,제주특별자치도 서귀포시 대천동(5013060000),"13,612","13,612",117,181,209,200,176,177,165,...,15,5,4,5,6,3,2,2,1,2
3839,제주특별자치도 서귀포시 중문동(5013061000),"11,127","11,127",71,55,78,105,95,101,124,...,10,4,5,5,6,6,2,0,3,6
3840,제주특별자치도 서귀포시 예래동(5013062000),"4,126","4,126",35,20,26,31,27,18,38,...,7,6,4,3,7,1,2,1,1,5

# HW1: 여러가지 값을 입력받아 시각화 하기.

In [26]:
for row in data:
    print(row)

행정구역
2019년02월_계_총인구수
2019년02월_계_연령구간인구수
2019년02월_계_0세
2019년02월_계_1세
2019년02월_계_2세
2019년02월_계_3세
2019년02월_계_4세
2019년02월_계_5세
2019년02월_계_6세
2019년02월_계_7세
2019년02월_계_8세
2019년02월_계_9세
2019년02월_계_10세
2019년02월_계_11세
2019년02월_계_12세
2019년02월_계_13세
2019년02월_계_14세
2019년02월_계_15세
2019년02월_계_16세
2019년02월_계_17세
2019년02월_계_18세
2019년02월_계_19세
2019년02월_계_20세
2019년02월_계_21세
2019년02월_계_22세
2019년02월_계_23세
2019년02월_계_24세
2019년02월_계_25세
2019년02월_계_26세
2019년02월_계_27세
2019년02월_계_28세
2019년02월_계_29세
2019년02월_계_30세
2019년02월_계_31세
2019년02월_계_32세
2019년02월_계_33세
2019년02월_계_34세
2019년02월_계_35세
2019년02월_계_36세
2019년02월_계_37세
2019년02월_계_38세
2019년02월_계_39세
2019년02월_계_40세
2019년02월_계_41세
2019년02월_계_42세
2019년02월_계_43세
2019년02월_계_44세
2019년02월_계_45세
2019년02월_계_46세
2019년02월_계_47세
2019년02월_계_48세
2019년02월_계_49세
2019년02월_계_50세
2019년02월_계_51세
2019년02월_계_52세
2019년02월_계_53세
2019년02월_계_54세
2019년02월_계_55세
2019년02월_계_56세
2019년02월_계_57세
2019년02월_계_58세
2019년02월_계_59세
2019년02월_계_60세
2019년02월_계_61세
2019년02월_계_62세
2019년02월_계_63세
2019년02월_계_64세
2019년02월_계_65세
2019년02월_계_66세
2019년02월_계_67세
2019년02월_계_68세
2019년02월_계_69세
2019년02월_계_70세
2019년02월_계_71세
2019년02월_계_72세
2019년02월_계_73세
2019년02월_계_74세
2019년02월_계_75세
2019년02월_계_76세
2019년02월_계_77세
2019년02월_계_78세
2019년02월_계_79세
2019년02월_계_80세
2019년02월_계_81세
2019년02월_계_82세
2019년02월_계_83세
2019년02월_계_84세
2019년02월_계_85세
2019년02월_계_86세
2019년02월_계_87세
2019년02월_계_88세
2019년02월_계_89세
2019년02월_계_90세
2019년02월_계_91세
2019년02월_계_92세
2019년02월_계_93세
2019년02월_계_94세
2019년02월_계_95세
2019년02월_계_96세
2019년02월_계_97세
2019년02월_계_98세
2019년02월_계_99세
2019년02월_계_100세 이상

In [16]:
result = []
name = str(input('인구 구조를 알고싶은 지역 이름을 적으시오:'))

for row in data:
    if name in row[0]:
        result.append(row[2])
    else:
        continue

result

인구 구조를 알고싶은 지역 이름을 적으시오:사직동

[]

In [7]:
result[0]

'9,584'